:root {
    --yellow-high: #FFE676!important;
    --yellow: #FFCA37!important;
    --yellow-low: #D3B430!important;
    --red: #DA2626!important;
    --red-low: #c02222!important;
    --red-high: #da4b4b!important;
    --blue-high: #25beff!important;
    --blue: #00A2E8!important;
    --blue-low: #008ac5!important;
    --green-high: #42FF00!important;
    --green: #6FEA44!important;
    --green-medium: #6FEA44!important;
    --gray-low: #202020!important;
    --gray-low-2: rgb(92, 92, 92)20!important;
    --gray: #757575!important;
    --gray-medium: #CFCFCF!important;
    --gray-medium-2: #bdbdbd!important;
    --purple: #CC00FF!important;
    --gray-high: #F1F5FA!important;
    --gray-high-2: #e3e6eb!important;
    --white: #FFFFFF!important;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: rgba(126, 90, 90, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(126, 90, 90, 0.5);
}

@font-face {
    font-family: AudioWide;
    src: url(../assets/fonts/Audiowide-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%!important;
    font-family: 'Open Sans', sans-serif!important;
    background-color: var(--gray-high)!important;
    color: var(--gray-low)!important;
    position: relative;
    overflow: hidden;
}

.hr {
    border-top: 1px solid var(--gray-medium);
    width: 100%;
    margin: .7rem 0;
}

.logo {
    width: 10rem;
}

.img-user {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

a, router-link {
    text-decoration: none;
    color: var(--gray-low)!important;
    transition: 0.2s;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover, router-link:hover {
    opacity: 0.8;
    text-decoration: none!important;
}


@media (max-width: 720px) {
    .img-user {
        width: 40px;
        height: 40px;
    }
    .logo {
        width: 8rem;
    }
}

@media (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
}

i {
    color: var(--gray-low);
    text-decoration: none;
}

h1, h1, h3, h4, h5, h6 {
    margin: 0!important;
}

p {
    font-size: .9rem;
}
.avatar-g, .avatar-m, .avatar-p, .avatar-pp, .avatar-xp, .avatar-xxp, .avatar-p-group {
    border-radius: 50%;
    object-fit: cover;
}

.avatar-g  {
    width: 130px;
    height: 130px;
}

.avatar-m  {
    width: 90px;
    height: 90px;
}


.avatar-p {
    width: 50px;
    height: 50px;
}

.avatar-pp {
    width: 40px;
    height: 40px;
}

.avatar-xp {
    width: 30px;
    height: 30px;
}

.avatar-xxp {
    width: 20px;
    height: 20px;
}

.label-ranking-interaction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-p-group {
    width: 50px;
    height: 50px;
    border: 3px solid var(--gray-low);
}

@media (max-width: 720px) {
    .avatar-p {
        width: 43px;
        height: 43px;
    }
    .avatar-p-group {
        width: 43px;
        height: 43px;
    }
    .avatar-g  {
        width: 100px;
        height: 100px;
    }
    .avatar-pp {
        width: 30px;
        height: 30px;
    }
    
    .avatar-xp {
        width: 20px;
        height: 20px;
    }
}

.rank-1, .rank-2, .rank-3, .rank-4, .rank-5 {
    border-radius: 50%;
}

.rank-1 {
    border: 3px solid var(--purple);
}

.rank-1-badge {
    background-color: var(--purple);
}

.rank-2 {
    border: 3px solid var(--yellow-high);
}

.rank-2-badge {
    background-color: var(--yellow-high);
}

.rank-3 {
    border: 3px solid var(--green);
}

.rank-3-badge {
    background-color: var(--green);
}

.rank-4 {
    border: 3px solid var(--blue);
}

.rank-4-badge {
    background-color: var(--blue);
}

.rank-5 {
    border: 3px solid var(--gray-low);
}

.rank-5-badge {
    background-color: var(--gray-low);
}

.label-ranking-interaction {
    margin: .3rem 0;
    border-radius: 7px;
    color: var(--white);
    padding: 3px 5px;
}
    .label-ranking-interaction h6 {
        font-size: .7rem;
    }
        .label-ranking-interaction h6 span {
            font-style: italic;
        }

.online {
    background: var(--green);
}

.offline {
    background: var(--gray);
}

.icon-clicable {
    cursor: pointer;
    transition: 0.2s;
}
.icon-clicable:hover {
    opacity: 0.8;
}

.main-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s width;
    overflow-y: hidden;
    /*overflow-x: hidden;*/
}

.inner-container {
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    max-width: 1500px;
    height: 100%;
    transition: 0.3s width;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
}

@media (max-width: 1158px) {
    .inner-container {
        width: 100%;
        padding-top: 4.8rem;
    }
    .main-container {
        width: 74vw;
    }
}

@media (max-width: 1067px) {
    .main-container {
        width: 70vw;
    }
}

@media (max-width: 925px) {
    .main-container {
        width: 67vw;
    }
}

@media (max-width: 850px) {
    .main-container {
        width: 100vw;
    }
}

@media (max-width: 670px) {
    .inner-container {
        width: 100%;
        padding-right: .7rem;
        padding-left: .7rem;
    }
}
@media (max-width: 420px) {
    .inner-container {
        width: 100%;
        padding-top: 3.8rem;
    }
    .hr {
        margin: .5rem 0;
    }
}

.comment-text {
    font-size: .9em;
    margin: 0;
}

/* ONLINE OFFLINE, CONTAINER PHOTO */

.onlineOffline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--gray-high);
    position: relative;
    right: 20px;
}

.container-photo {
    display: flex;
    align-items: flex-end;
    
} 

/* INPUTS */

.input-div input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray-medium);
    position: relative;
    left: 8px;
    padding: 3px 15px;
}
.input-div input::placeholder {
    font-style: italic;
    font-size: 1rem;
}
.input-div {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
}
.input-div i {
    position: relative;
    right: 20px;
}

.user-name-others {
    font-size: 1.1em;
    font-weight: 600;
}

.user-status {
    font-size: .8em;
    font-style: italic;
}

/* MESSAGE */

.message {
    padding: .7rem .7rem 1.5rem .7rem;
    margin-top: 1rem;
    width: 90%;
    font-size: .9rem;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}
.message-send {
    background: var(--gray-medium);
    right: -10px;
}
.message-received {
    background: var(--green);
    left: 15px;
}
.message-triangle {
    content: '';
    width: 0;
    height: 0; 
    overflow: hidden;
    position: relative;
}
.message-send-triangle {
    border-top: 5px solid transparent;
    border-bottom:5px solid transparent;
    border-left: 9px solid var(--gray-medium);
    right: -19px;
}
.message-received-triangle {
    border-top: 5px solid transparent;
    border-bottom:5px solid transparent;
    border-right: 9px solid var(--green);
    order: -1;
    left: -19px;
}

.message-send-time {
    font-size: .7rem;
    font-weight: 600;
}

.message-utilities {
    position: relative;
    bottom: -.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 720px) {
    .chat-box {
        min-width: 50vw;
        height: 400px;
    }
    .chat-box-body {
        height: 278px;
    }
}
@media (max-width: 520px) {
    .chat-box {
        min-width: 85vw;
    }
    .chat-box-footer input::placeholder {
        font-size: .8rem;
    }
}

.input-icons {
    display: flex;
    align-items: center;
    margin-right: 2.2rem;
}

.chat-box-footer {
    height: 2.55rem;
    margin-top: .8rem;
    display: flex;
    justify-content: center;
}

.message-input {
    width: 95%;
    height: 90%;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    /*overflow: hidden;*/
}
.chat-box-footer input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-medium);
    border-radius: 10px;
}
.chat-box-footer input::placeholder {
    position: relative;
    left: 2rem
}

.textBlack {
    color: var(--gray-low);
}

.textWhite {
    color: var(--white);
}